*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-margin{
    margin-left:23.4%;
    margin-right:23.4%;
}
#logo{
    height: 50%;
    margin-top: 26px;
    margin-left: 23.4%;
}
.background-image{
    background-color: #4893e9;
    background-image: url('../img/pattern.png');
    height: 75px;
    background-size: 300px;
}
.author{
    color: grey;
}
#booleaner{
    color: rgb(68, 192, 230);
}
.tim{
    margin-top: 20px;
}
.image-description{
    margin-bottom: 20px;
    font-size: 12px;
}
.marker{
    background-color: yellow;
}
#list{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;   
}
.column{
    margin-left: 100px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
    background-color: #4ac3e7;
    margin: auto;
    color: white;
}
.text{
    width: 50%;
}
tbody, td{
    padding-top: 15px;
    padding-bottom: 15px;

}
.table-row{
    background-color: rgba(50, 167, 221, 0.582);
}
#paragraph-text{
    margin-top: 20px;
    margin-bottom: 20px;
}
.other-images{
    position: relative;
    color: white;
    margin-bottom: 10px;
}
.last-text{
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: larger;
}