*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    height: 50%;
    margin-top: 30px;
    margin-left: 10px;
}
.background-image{
    background-color: #4893e9;
    background-image: url('../img/pattern.png');
    height: 75px;
    background-size: 300px;
}
#author{
    color: grey;
}
#booleaner{
    color: rgb(68, 192, 230);
}
.tim{
    margin-top: 20px;
}
.image-description{
    margin-bottom: 20px;
    font-size: 12px;
}
.marker{
    background-color: yellow;
}
#list{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;   
}
.column{
    margin-left: 100px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
    background-color: #4ac3e7;
    margin: auto;
    color: white;
}
tbody, td{
    padding-top: 15px;
    padding-bottom: 15px;

}
.table-row{
    background-color: rgba(50, 167, 221, 0.582);
}

