*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    height: 50%;
    margin-top: 30px;
    margin-left: 10px;
}
.background-image{
    background-color: #4893e9;
    background-image: url('../img/pattern.png');
    height: 75px;
    background-size: 300px;
}
